* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background: #0f172a;
}

/* MAIN LAYOUT */
.main-container {
  display: flex;
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 80vh;
}

/* LEFT IMAGE */
.image-section {
  border-radius: 5%;
  margin: 2vw;
  flex: 1;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT LOGIN SIDE */
.login-section {
  flex: 1;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

/* LOGIN CARD */
.login-card {
  width: 380px;
  padding: 40px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  color: white;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 25px;
}

input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  background: #1e293b;
  color: white;
}

input::placeholder {
  color: #94a3b8;
}

select {
  cursor: pointer;
}

/* BUTTON */
button {
  width: 50%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0ea5e9;
  color: white;
}

/* REGISTER TEXT */
.register-text {
  margin-top: 20px;
  font-size: 14px;
  color: #94a3b8;
}

.register-text span {
  color: #38bdf8;
  cursor: pointer;
}
.dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: #0f172a;
  color: white;
}


/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #1e293b;
  padding: 30px 20px;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.profile {
  text-align: center;
}

.avatar {
  background: #38bdf8;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  font-weight: bold;
  margin:auto;
}

.sidebar ul {
  list-style: none;
  margin-top: 1px;
}

.sidebar li {
  padding: 12px 0;
  cursor: pointer;
  color: #94a3b8;
}

.sidebar li:hover {
  color: white;
}

.logout-btn {
  padding: 10px;
  background: #ef4444;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

/* MAIN */
.main-content {
  margin-left: 240px;
  width: calc(100% - 240px);
  height: 100vh;
  overflow-y: auto;
  padding: 40px;
}


.section {
  margin-bottom: 80px;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.top-bar input {
  padding: 10px;
  width: 300px;
  border-radius: 6px;
  border: none;
}

.welcome {
  margin-left: auto;
  color: #94a3b8;
}

/* BOOK GRID */
.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
}

.book-card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.book-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.book-card button {
  margin-top: 10px;
  padding: 8px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.book-card .disabled {
  background: gray;
  cursor: not-allowed;
}

/* TRANSACTIONS */
.transaction-card {
  display: flex;
  justify-content: space-between;
  background: #1e293b;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.status {
  width: 20vw;
  color: #38bdf8;
}

/* FOOTER */
footer {
  margin-top: 50px;
  text-align: center;
  color: #64748b;
}

/* STUDENT CARDS */
.student-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.student-card h3 {
  margin-bottom: 15px;
}

.transaction-row {
  display: flex;
  justify-content: space-between;
  background: #0f172a;
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.status.issued {
  background: #f59e0b;
  color: black;
}

.status.returned {
  background: #22c55e;
  color: black;
}

.admin-card {
  position: relative;
}

.admin-buttons {
  display:flex;
  gap:8px;
  margin-top:10px;
}

.admin-buttons button {
  padding:6px 10px;
  border:none;
  border-radius:6px;
  background:#38bdf8;
  cursor:pointer;
  font-size:14px;
}

.admin-buttons button:hover {
  background:#0ea5e9;
}

.top-bar {
  display:flex;
  gap:15px;
  margin-bottom:25px;
}

.top-bar input {
  padding:10px;
  width:1000px;
  border-radius:6px;
  border:none;
}

.student-header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:15px;
}

.student-email {
  font-size:13px;
  color:#94a3b8;
  margin-top:4px;
}

.book-count {
  background:#38bdf8;
  padding:6px 12px;
  border-radius:20px;
  font-size:13px;
  color:black;
}

.student-card {
  background:#1e293b;
  padding:20px;
  border-radius:12px;
  margin-bottom:25px;
  transition:0.3s;
}

.student-card:hover {
  transform:translateY(-4px);
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
}
